.menuItemContainer {
  color: white;
  background-color: #50576f;
  padding: 10px;
  display: flex;
}

.menuItemName {
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .menuItemName {
    display: none !important;
  }
}
